.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 20px 170px; */
    padding: 20px 40px;
    z-index: 999;
    position: sticky;
    top: 0;
    background-color: black;
}
.nav-username{
    color: white;
    font-size: 32px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 22px;
}
/* .nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
} */
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-menu li:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
    border-bottom: 2px solid #584cc0;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        padding: 15px 20px; /* smaller padding for mobile */
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 20px;
        width: 24px; /* smaller icon */
    }

    .nav-mob-close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 24px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 20px;
        background-color: #1f0016;
        width: 80%; 
        max-width: 300px;
        height: 100%;
        z-index: 2;
        transition: right 0.4s ease;
        right: -100%;
        padding-top: 60px; 
    }

    .nav-menu li {
        font-size: 1.2rem; 
        padding-left: 40px; 
        flex-direction: row;
        gap: 15px;
    }

    .anchor-link {
        font-size: 1rem; 
    }
}